body {
  margin: 0;
}

header {
  margin-bottom: 20px;
}

.ContainerMain{
  width: 400px;
}

.ContainerBlock{
  height: 60px;
  width: 350px;

  border: 1px solid #3d46cc;
  text-align: center;
  cursor: move;
  background-color: #b2d9d0;
}

.descr{
  display:none;
  margin-left:350px;
  padding:10px;
  margin-top:0px;
  background:#f3f3f3;
  -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.ContainerBlock:hover .descr{
  display:block;
  top:0px;
  z-index:9999;
  width:400px;
}

.NewHeight{
  height: 300px;
}